doctype html
html
	head
		title= title
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css')
		script(src='//code.jquery.com/jquery-2.1.4.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js')
		script(src='/javascripts/app.js')
	body
		block content
